@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'font-awesome.scss';
@import 'foundation-datepicker.scss';


// ================
// Base Definitions
// ================
h2 {
	text-align: center;
}

textarea {
	height: auto;
}

section:not(#landing) {
	padding-bottom: 6rem;
	padding-top: 6rem;
}

#about, #information {
	.orbit-container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

#sony {
	background: $black;
	width: 100%;

	img {
		float: right;
		margin-top: 0.5rem;
		max-width: 4rem;
	}
}

#landing, #about, #register, #petition, #transparation {
	border-bottom: 10px solid $primary-color;
}


// ======
// Header
// ======
.top-bar a {
	color: $white;
	font-family: 'Armata', sans-serif;
	font-size: rem-calc(20);
	transition: all 0.2s;

	&:hover {
		color: $primary-color;
	}
}

.menu-text img {
	margin-left: 10rem;
}


// ===============
// Landing Section
// ===============
#landing {
	.landing-overlay {
		position: relative;
		width: 100%;
	}

	#landing-1, #landing-2 {
		position: absolute;
		top: 50%;
	}

	#landing-1 {
		left: 15%;

		h2 {
			text-align: left;
		}
	}

	#landing-2 {
		right: 15%;

		h2 {
			text-align: right;
		}
	}

	h2 {
		color: $white;
		font-size: rem-calc(40);
		font-weight: bold;
		line-height: 3rem;
	}

	.main-title {
		font-size: rem-calc(60);
	}
}


// ===========================
// About & Information Section
// ===========================
#about {
	background: $black;

	h2, p {
		color: $white;
	}

	p {
		text-align: center;
	}
}

section#information {
	background: url('../img/bg-1.jpg');
	background-size: cover;
	padding-bottom: 0;
}

#timeline {
	background: url('../img/bg-2.jpg');
	background-size: cover;
	color: $white;
	margin-top: 3rem;

	.orbit-previous, .orbit-next {
		background: none;
		color: $primary-color;
		font-size: rem-calc(30);

		&:hover {
			background: none;
		}
	}

	.date {
		background: rgba(0, 0, 0, 0.6);
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	p {
		padding-bottom: 5rem;
		padding-top: 5rem;
	}
}


// ===========================
// Register & Petition Section
// ===========================
#register, .fieldset legend {
	background: $black;
}

#register, label, .fieldset legend, .help-text {
	color: $white;
}

// Source: http://zurb.com/building-blocks/file-upload-button
.file-upload {
	display: block;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.file-upload input.file-input {
	cursor: pointer;
	filter: alpha(opacity=0);
	font-size: 20px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.help-text { // override defaults
	margin-top: 0.5rem;
}

input[type=text], input[type=email], input[type=number], input[type=date], textarea, select {
	background: $black;
	border: none;
	border-bottom: 2px solid $white;
	color: $white;
	outline: none;

	&:focus {
		background: $black;
		color: $white;
	}
}

#submit {
	display: block;
	margin: auto;
	width: 10em;
}


// ===========================
// Transparation & FAQ Section
// ===========================
#transparation {
	background: url('../img/bg-3.jpg');
	background-size: cover;
	color: $white;
}

.stat, figcaption {
	text-align: center;
}


// ======
// Footer
// ======
footer {
	background: $black;
	color: $white;
	padding-top: 1em;

	p {
		font-size: rem-calc(20);
	}

	li {
		display: inline-block;
	}

	a {
		background: $primary-color;
		color: $white;
		padding: 0.7rem;

		&:hover {
			color: $white;
		}
	}

	#copyright {
		font-size: rem-calc(14);
		text-align: center;
	}
}
